<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 my-2 ">
            <img src="/assets/images/1.jpg" alt="book1" class="w-50">
            <div class="book-details w-75 ">
                <h3>Book Title</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque dolorum
                    perspiciatis reprehenderit id inventore nihil vel repellendus molestias eaque esse!
                    Quod quasi excepturi explicabo assumenda quae nisi voluptatibus ad aspernatur!</p>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <img src="/assets/images/1.jpg" alt="book1" class="w-50">
            <div class="book-details w-75 ">
                <h3>Book Title</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque dolorum
                    perspiciatis reprehenderit id inventore nihil vel repellendus molestias eaque esse!
                    Quod quasi excepturi explicabo assumenda quae nisi voluptatibus ad aspernatur!</p>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <img src="/assets/images/1.jpg" alt="book1" class="w-50">
            <div class="book-details w-75 ">
                <h3>Book Title</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque dolorum
                    perspiciatis reprehenderit id inventore nihil vel repellendus molestias eaque esse!
                    Quod quasi excepturi explicabo assumenda quae nisi voluptatibus ad aspernatur!</p>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <img src="/assets/images/1.jpg" alt="book1" class="w-50">
            <div class="book-details w-75 ">
                <h3>Book Title</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque dolorum
                    perspiciatis reprehenderit id inventore nihil vel repellendus molestias eaque esse!
                    Quod quasi excepturi explicabo assumenda quae nisi voluptatibus ad aspernatur!</p>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <img src="/assets/images/1.jpg" alt="book1" class="w-50">
            <div class="book-details w-75 ">
                <h3>Book Title</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque dolorum
                    perspiciatis reprehenderit id inventore nihil vel repellendus molestias eaque esse!
                    Quod quasi excepturi explicabo assumenda quae nisi voluptatibus ad aspernatur!</p>
            </div>
        </div>
        <div class="col-md-4 my-2">
            <img src="/assets/images/1.jpg" alt="book1" class="w-50">
            <div class="book-details w-75 ">
                <h3>Book Title</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque dolorum
                    perspiciatis reprehenderit id inventore nihil vel repellendus molestias eaque esse!
                    Quod quasi excepturi explicabo assumenda quae nisi voluptatibus ad aspernatur!</p>
            </div>
        </div>
    </div>
</div>